@model FinanceManager.Contract.Dto.FinancialAccountDto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @Html.Partial("_AccountReadView", Model)
</div>

@using (Html.BeginForm())
{
    //required because mvc validation is performed
    @Html.AntiForgeryToken()
    @Html.HiddenFor(account => account.FirstName)
    @Html.HiddenFor(account => account.LastName)
    @Html.HiddenFor(account => account.RowVersion)

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
